<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.upload.UploadFileDao">
    <sql id="columns">
        ${alias}`key` ${prefix}`key`,
        ${alias}bucket ${prefix}bucket,
        ${alias}name ${prefix}name,
        ${alias}source ${prefix}source,
        ${alias}extname ${prefix}extname,
        ${alias}domain ${prefix}domain,
        ${alias}size ${prefix}size,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}created_user_id ${prefix}created_user_id
    </sql>
    <insert id="insert">
        insert into upload_file(`key`,bucket,`name`,source,extname,domain,size,created_time,created_ip,created_user_id) values
        (#{key},#{bucket},#{name},#{source},#{extname},#{domain},#{size},#{createdTime},#{createdIp},#{createdUserId})
    </insert>
    <sql id="searchWhere">
        <where>
            <if test="extname != null">
                and ${alias}extname = #{extname}
            </if>
            <if test="key != null">
                and ${alias}key = #{key}
            </if>
            <if test="domain != null">
                and ${alias}domain = #{domain}
            </if>
            <if test="minSize != null">
                and ${alias}size <![CDATA[>=]]> #{minSize}
            </if>
            <if test="maxSize != null">
                and ${alias}size <![CDATA[<=]]> #{maxSize}
            </if>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${alias}created_ip = #{ip}
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
        </where>
    </sql>
    <resultMap id="searchMap" type="UploadFileModel" autoMapping="true">
        <id property="id" column="id" />
        <!--<association property="author" javaType="UserInfoModel" columnPrefix="user_" autoMapping="true" />-->
    </resultMap>
    <select id="search" resultMap="searchMap">
        select
        <include refid="columns"><property name="alias" value="f."/><property name="prefix" value=""/></include>
        <!--,
        <include refid="com.itellyou.dao.user.UserInfoDao.columns">
            <property name="alias" value="u."/>
            <property name="prefix" value="user_"/>
        </include>-->
        from upload_file f
        <!--left join user_info u on f.created_user_id=u.id-->
        <include refid="searchWhere">
            <property name="alias" value="f."/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                f.${key} ${value}
            </foreach>
        </if>
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>
</mapper>