<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.common.ViewInfoDao">
    <sql id="columns">
        ${alias}id ${prefix}id,
        ${alias}title ${prefix}title,
        ${alias}data_type ${prefix}data_type,
        ${alias}data_key ${prefix}data_key,
        ${alias}os ${prefix}os,
        ${alias}browser ${prefix}browser,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}created_user_id ${prefix}created_user_id,
        ${alias}updated_time ${prefix}updated_time,
        ${alias}updated_ip ${prefix}updated_ip,
        ${alias}updated_user_id ${prefix}updated_user_id
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into view_info(title,data_type,data_key,os,browser,created_time,created_ip,created_user_id,updated_time,updated_ip,updated_user_id) values (#{title},#{dataType},#{dataKey},#{os},#{browser},#{createdTime},#{createdIp},#{createdUserId},#{updatedTime},#{updatedIp},#{updatedUserId})
    </insert>
    <sql id="searchWhere">
        <where>
            <if test="dataType != null">
                and ${alias}data_type = #{dataType}
            </if>
            <if test="dataKey != null">
                and ${alias}data_key = #{dataKey}
            </if>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="os != null">
                and ${alias}os = #{os}
            </if>
            <if test="browser != null">
                and ${alias}browser = #{browser}
            </if>
            <if test="ip != null">
                and ${alias}updated_ip = #{ip}
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
            <if test="id != null">
                and ${alias}id = #{id}
            </if>
        </where>
    </sql>
    <resultMap id="searchMap" type="ViewInfoModel" autoMapping="true">
        <id property="id" column="id" />
    </resultMap>
    <select id="search" resultMap="searchMap">
        select
        <include refid="columns"><property name="alias" value="v."/><property name="prefix" value=""/></include>
        from view_info v
        <include refid="searchWhere">
            <property name="alias" value="v."/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                v.${key} ${value}
            </foreach>
        </if>
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <select id="count" resultType="Integer">
        select count(*)
        from view_info
        <include refid="searchWhere">
            <property name="alias" value=""/>
        </include>
    </select>
    <update id="update">
        update view_info
        <set>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="os != null">
                os=#{os},
            </if>
            <if test="browser != null">
                browser=#{browser},
            </if>
            <if test="dataType != null">
                data_type=#{dataType},
            </if>
            <if test="dataKey != null">
                data_key=#{dataKey},
            </if>
            <if test="updatedTime != null">
                updated_time=#{updatedTime},
            </if>
            <if test="updatedIp != null">
                updated_ip=#{updatedIp},
            </if>
            <if test="updatedUserId != null">
                updated_user_id=#{updatedUserId},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>