<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.ali.DmTemplateDao">
    <sql id="columns">
        id , `name` , param , send_addr , send_name , title , body , tag_name , expire
    </sql>
    <select id="findById" resultType="DmTemplateModel">
        select <include refid="columns" /> from ali_dm_template where id = #{id}
    </select>
    <select id="getAll" resultType="DmTemplateModel">
        select <include refid="columns" /> from ali_dm_template
    </select>
</mapper>