<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.ali.SmsLogDao">
    <sql id="where">
        <where>
            <if test="templateId != null">
                ${logAlias}.template_id = #{templateId}
            </if>
            <if test="mobile != null">
                and ${logAlias}.mobile = #{mobile}
            </if>
            <if test="status != null">
                and ${logAlias}.status = #{status}
            </if>
            <if test="beginTime != null">
                and ${logAlias}.created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${logAlias}.created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${logAlias}.created_ip = #{ip}
            </if>
        </where>
    </sql>
    <insert id="insert" parameterType="SmsLogModel" useGeneratedKeys="true" keyProperty="id">
        insert into ali_sms_log(mobile,template_id,data,status,created_time,created_ip) values (
        #{mobile},
        #{templateId},
        #{data},
        #{status},
        #{createdTime},
        #{createdIp})
    </insert>
    <update id="updateStatus">
        update ali_sms_log set status=#{status} where id=#{id}
    </update>

    <select id="search" resultType="SmsLogModel">
        <bind name="start" value="size*(page - 1)"/>
        select l.id,l.mobile,l.template_id,l.data,l.status,l.created_time,l.created_ip
        from ali_sms_log l
        <include refid="where">
            <property name="logAlias" value="l"/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                l.${key} ${value}
            </foreach>
        </if>
        <if test="page != null and size != null">
            limit #{start},#{size}
        </if>
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(l.id) from from ali_sms_log l
        <include refid="where">
            <property name="logAlias" value="l"/>
        </include>
    </select>
</mapper>