<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.tag.TagInfoDao">
    <sql id="columns">
        ${alias}id ${prefix}id,
        ${alias}name ${prefix}name,
        ${alias}description ${prefix}description,
        ${alias}group_id ${prefix}group_id,
        ${alias}star_count ${prefix}star_count,
        ${alias}question_count ${prefix}question_count,
        ${alias}article_count ${prefix}article_count,
        ${alias}version ${prefix}version,
        ${alias}draft ${prefix}draft,
        ${alias}is_published ${prefix}is_published,
        ${alias}is_disabled ${prefix}is_disabled,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}created_user_id ${prefix}created_user_id,
        ${alias}updated_time ${prefix}updated_time,
        ${alias}updated_ip ${prefix}updated_ip,
        ${alias}updated_user_id ${prefix}updated_user_id
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tag (`name`,description,group_id,star_count,question_count,article_count,version,draft,is_published,is_disabled,created_time,created_ip,created_user_id,updated_time,updated_ip,updated_user_id) values
        (#{name},#{description},#{groupId},#{starCount},#{questionCount},#{articleCount},#{version},#{draft},#{isPublished},#{isDisabled},#{createdTime},#{createdIp},#{createdUserId},#{updatedTime},#{updatedIp},#{updatedUserId})
    </insert>
    <update id="updateGroupByGroupId">
        update tag set group_id=#{nextGroupId} where group_id=#{prevGroupId}
    </update>
    <update id="updateById">
        update tag <set>
            <if test="name != null">
                `name`=#{name},
            </if>
            <if test="groupId != null">
                group_id=#{groupId},
            </if>
            <if test="isDisabled != null">
                is_disabled=#{isDisabled},
            </if>
        </set> where id=#{id}
    </update>
    <select id="exists" resultType="java.lang.Integer">
        select count(id) from tag where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <sql id="searchWhere">
        <where>
            <if test="isDisabled != null">
                and ${alias}is_disabled = #{isDisabled}
            </if>
            <if test="isPublished != null">
                and ${alias}is_published = #{isPublished}
            </if>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${alias}created_ip = #{ip}
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
            <if test="ids != null &amp;&amp; ids.size() > 0">
                and
                ${alias}id <foreach collection="ids" item="id" open=" in (" separator="," close=")">
                #{id}
            </foreach>
            </if>
            <if test="groupIds != null &amp;&amp; groupIds.size() > 0">
                and ${alias}group_id <foreach collection="groupIds" item="id" open=" in (" separator="," close=")">
                #{id}
                </foreach>
            </if>
            <if test="minStar != null">
                and ${alias}star_count >= #{minStar}
            </if>
            <if test="maxStar != null">
                and ${alias}star_count &lt;= #{maxStar}
            </if>
            <if test="minQuestion != null">
                and ${alias}question_count >= #{minQuestion}
            </if>
            <if test="maxQuestion != null">
                and ${alias}question_count &lt;= #{maxQuestion}
            </if>
            <if test="minArticle != null">
                and ${alias}article_count >= #{minArticle}
            </if>
            <if test="maxArticle != null">
                and ${alias}article_count &lt;= #{maxArticle}
            </if>
            <if test="name != null">
                <bind name="bindName" value="name + '%'"/>
                and ${alias}name like #{bindName}
            </if>
            <if test="mode != 'draft'">
                and ${alias}version > 0
            </if>
        </where>
    </sql>
    <sql id="searchOrder">
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                ${alias}${key} ${value}
            </foreach>
        </if>
    </sql>
    <select id="search" resultType="TagInfoModel">
        select <include refid="columns"><property name="alias" value="t."/><property name="prefix" value=""/></include>
        from tag t
        <include refid="searchWhere">
            <property name="alias" value="t."/>
        </include>
        <include refid="searchOrder">
            <property name="alias" value="t."/>
        </include>
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <select id="count" resultType="Integer">
        select count(t.id) from tag t
        <include refid="searchWhere">
            <property name="alias" value="t."/>
        </include>
    </select>
    <select id="searchChild" resultType="TagInfoModel">
        WITH rankCte AS (
        SELECT
        id,
        rank() over ( PARTITION BY group_id
        <if test="order == null">
            order by id
        </if>
        <include refid="searchOrder">
            <property name="alias" value=""/>
        </include>
        ) number
        FROM
        tag
        <include refid="searchWhere">
            <property name="alias" value=""/>
        </include>
        )
        select <include refid="columns"><property name="alias" value="c."/><property name="prefix" value=""/></include>
        from
        rankCte r
        left join tag c on r.id = c.id
        where r.number &lt;= #{childCount}
    </select>
    <select id="findById" resultType="TagInfoModel">
        select <include refid="columns"><property name="alias" value=""/><property name="prefix" value=""/></include> from tag where id=#{id}
    </select>
    <select id="findByName" resultType="TagInfoModel">
        select <include refid="columns"><property name="alias" value=""/><property name="prefix" value=""/></include> from tag where name=#{name}
    </select>
    <update id="updateStarCountById">
        update tag set star_count=star_count+#{step} where id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </update>
    <update id="updateArticleCountById">
        update tag set article_count=article_count+#{step} where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <update id="updateQuestionCountById">
        update tag set question_count=question_count+#{step} where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <update id="updateVersionById">
        update tag
        <set>
            <if test="draft != null">
                draft=#{draft},
            </if>
            <if test="version != null">
                version=#{version},
            </if>
            <if test="isPublished != null">
                is_published=#{isPublished},
            </if>
            updated_time=#{time},
            updated_ip=#{ip},
            updated_user_id=#{userId}
        </set>
        where id = #{id}
    </update>
    <update id="updateInfo">
        update tag <set>
        <if test="description != null">description=#{description},</if>
        updated_time=#{time},
        updated_ip=#{ip},
        updated_user_id=#{userId}
    </set>
        where id=#{id}
    </update>
</mapper>