<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.tag.TagStarDao">
    <sql id="columns">
        ${alias}tag_id ${prefix}tag_id,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}created_user_id ${prefix}created_user_id
    </sql>
    <insert id="insert">
        insert into tag_star (tag_id,created_time,created_ip,created_user_id) values (#{tagId},#{createdTime},#{createdIp},#{createdUserId})
    </insert>
    <delete id="delete">
        delete from tag_star where tag_id=#{tagId} and created_user_id=#{userId}
    </delete>
    <sql id="where">
        <where>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${alias}created_ip = #{ip}
            </if>
            <if test="tagIds != null &amp;&amp; tagIds.size() > 0">
                and ${alias}tag_id in
                <foreach collection="tagIds" item="tagId" separator="," open="(" close=")" >
                    #{tagId}
                </foreach>
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
        </where>
    </sql>
    <select id="search" resultType="TagStarModel">
        select
        <include refid="columns">
            <property name="alias" value="s."/>
            <property name="prefix" value=""/>
        </include>
        from tag_star s
        <include refid="where">
            <property name="alias" value="s."/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                s.${key} ${value}
            </foreach>
        </if>
        <if test="limit != null and offset != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <select id="count" resultType="Integer">
        select count(*)
        from tag_star s
        <include refid="where">
            <property name="alias" value="s."/>
        </include>
    </select>
</mapper>