<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.user.UserActivityDao">
    <sql id="columns">
        ${alias}action ${prefix}action,
        ${alias}type ${prefix}type,
        ${alias}target_id ${prefix}target_id,
        ${alias}target_user_id ${prefix}target_user_id,
        ${alias}created_user_id ${prefix}created_user_id,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_ip ${prefix}created_ip
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user_activity (action,type,target_id,target_user_id,created_user_id,created_time,created_ip) values (#{action},#{type},#{targetId},#{targetUserId},#{createdUserId},#{createdTime},#{createdIp})
        on duplicate key update created_time=#{createdTime},created_ip=#{createdIp}
    </insert>
    <delete id="delete">
        delete from user_activity where action=#{action} and type=#{type} and created_user_id=#{userId} and target_id=#{targetId}
    </delete>
    <sql id="where">
        <where>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${alias}created_ip = #{ip}
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
            <if test="targetUserId != null">
                and ${alias}target_user_id = #{targetUserId}
            </if>
            <if test="actionsMap != null">
                and <foreach collection="actionsMap" index="key"  item="value" open="(" separator="OR" close=")">
                    (${alias}action=#{key} and ${alias}type in
                    <foreach collection = "value" item="type" separator="," open="(" close=")">
                        #{type}
                    </foreach>
                    )
                </foreach>
            </if>
        </where>
    </sql>
    <select id="search" resultType="UserActivityModel">
        select
        <include refid="columns">
            <property name="alias" value="n."/>
            <property name="prefix" value=""/>
        </include>
        from user_activity n
        <include refid="where">
            <property name="alias" value="n."/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                <choose>
                    <when test="key.indexOf('.') >= 0">${key} ${value}</when>
                    <otherwise>n.${key} ${value}</otherwise>
                </choose>
            </foreach>
        </if>
        <if test="limit != null and offset != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <select id="count" resultType="Integer">
        select count(*)
        from user_activity
        <include refid="where">
            <property name="alias" value=""/>
        </include>
    </select>
</mapper>