<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.user.UserWithdrawDao">
    <sql id="columns">
        ${alias}id ${prefix}id,
        ${alias}amount ${prefix}amount,
        ${alias}subject ${prefix}subject,
        ${alias}status ${prefix}status,
        ${alias}commissionCharge ${prefix}commissionCharge,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}created_user_id ${prefix}created_user_id,
        ${alias}updated_time ${prefix}updated_time,
        ${alias}updated_ip ${prefix}updated_ip,
        ${alias}updated_user_id ${prefix}updated_user_id
    </sql>
    <insert id="insert" parameterType="UserWithdrawModel">
        insert into user_withdraw(id,amount,subject,status,commissionCharge,created_time,created_user_id,created_ip,updated_time,updated_ip,updated_user_id) values (
            #{id},
            #{amount},
            #{subject},
            #{status},
            ${commissionCharge},
            #{createdTime},
            #{createdUserId},
            #{createdIp},
            #{updatedTime},
            #{updatedIp},
            #{updatedUserId}
        )
    </insert>
    <resultMap id="searchMap" type="UserWithdrawDetailModel" autoMapping="true">
        <id property="id" column="id" />
        <association property="user" javaType="UserDetailModel" columnPrefix="u_" autoMapping="true">
            <id property="id" column="created_user_id" />
        </association>
    </resultMap>
    <sql id="where">
        <where>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${alias}created_ip = #{ip}
            </if>
            <if test="id != null">
                and ${alias}id = #{id}
            </if>
            <if test="status != null">
                and ${alias}status = #{status}
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
        </where>
    </sql>
    <select id="search" resultMap="searchMap">
        select
        <include refid="columns">
            <property name="alias" value="uw."/>
            <property name="prefix" value=""/>
        </include>,
        <include refid="com.itellyou.dao.user.UserInfoDao.columns">
            <property name="alias" value="u."/>
            <property name="prefix" value="u_"/>
        </include>,
        p.path u_path
        from user_withdraw uw
        left join user_info u on uw.created_user_id = u.id
        left join sys_path p on p.id = u.id and p.type = 1
        <include refid="where">
            <property name="alias" value="uw."/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                <choose>
                    <when test="key.indexOf('.') >= 0">${key} ${value}</when>
                    <otherwise>uw.${key} ${value}</otherwise>
                </choose>
            </foreach>
        </if>
        <if test="limit != null and offset != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <select id="count" resultType="Integer">
        select count(id) from user_withdraw
        <include refid="where">
            <property name="alias" value=""/>
        </include>
    </select>
    <select id="getLockedCash" resultType="Double">
        select sum(amount) from user_withdraw where status=0 and created_user_id=#{userId}
    </select>
    <update id="updateStatus">
        update user_withdraw
        <set>
            status=#{status},
            <if test="updatedUserId != null">
                updated_user_id=#{updatedUserId},
            </if>
            <if test="updatedTime != null">
                updated_time=#{updatedTime},
            </if>
            <if test="updatedIp != null">
                updated_ip=#{updatedIp},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>