<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.user.UserNotificationActorsDao">
    <sql id="columns">
        ${alias}notification_id ${prefix}notification_id,
        ${alias}user_id ${prefix}user_id,
        ${alias}target_id ${prefix}target_id
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user_notification_actors (notification_id,user_id,target_id) values
        <foreach collection="models" index="key" item="item" open="" separator=",">
            (#{item.notificationId},#{item.userId},#{item.targetId})
        </foreach>
    </insert>
</mapper>