<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.user.UserLoginLogDao">
    <insert id="insert" parameterType="UserLoginLogModel">
        insert into user_login_log(token,is_disabled,client_type,created_user_id,created_ip,created_time) values (
            #{token},
            #{isDisabled},
            #{clientType},
            #{createdUserId},
            #{createdIp},
            #{createdTime}
        )
    </insert>
    <select id="find" resultType="UserLoginLogModel">
        select * from user_login_log where token=#{token}
    </select>
    <update id="setDisabled">
        update user_login_log set is_disabled = #{status} where token = #{token}
    </update>
</mapper>