<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.user.UserNotificationMarkDao">
    <sql id="columns">
        ${alias}user_id ${prefix}user_id,
        ${alias}updated_time ${prefix}updated_time
    </sql>
    <insert id="insertOrUpdate">
        insert into user_notification_mark (user_id,updated_time) values (#{userId},#{updatedTime})
        on duplicate key update updated_time=#{updatedTime}
    </insert>
    <select id="findByUserId" resultType="UserNotificationMarkModel">
        select <include refid="columns">
            <property name="alias" value=""/>
            <property name="prefix" value=""/>
        </include> from user_notification_mark where user_id=#{userId}
    </select>
</mapper>