<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.column.ColumnStarDao">
    <sql id="columns">
        ${alias}column_id ${prefix}column_id,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}created_user_id ${prefix}created_user_id
    </sql>
    <insert id="insert">
        insert into column_star (column_id,created_time,created_ip,created_user_id) values (#{columnId},#{createdTime},#{createdIp},#{createdUserId})
    </insert>
    <delete id="delete">
        delete from column_star where column_id=#{columnId} and created_user_id=#{userId}
    </delete>
    <resultMap id="searchMap" type="ColumnStarDetailModel" autoMapping="true">
        <association property="column"  notNullColumn="id" javaType="ColumnDetailModel" columnPrefix="c_" autoMapping="true">
            <id property="id" column="id" />
        </association>
        <association property="user"  notNullColumn="id" javaType="UserDetailModel" columnPrefix="u_" autoMapping="true">
            <id property="id" column="id" />
        </association>
    </resultMap>
    <sql id="where">
        <where>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${alias}created_ip = #{ip}
            </if>
            <if test="columnId != null">
                and ${alias}column_id = #{columnId}
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
        </where>
    </sql>
    <select id="search" resultMap="searchMap">
        select
        <include refid="columns">
            <property name="alias" value="s."/>
            <property name="prefix" value=""/>
        </include>,
        <include refid="com.itellyou.dao.column.ColumnInfoDao.columns">
            <property name="alias" value="c."/>
            <property name="prefix" value="c_"/>
        </include>,p.path c_path,1 c_use_star,
        <include refid="com.itellyou.dao.user.UserInfoDao.columns">
            <property name="alias" value="u."/>
            <property name="prefix" value="u_"/>
        </include>,up.path u_path
        from column_star s
        inner join column_info c on c.id = s.column_id
        left join user_info u on u.id = s.created_user_id
        left join sys_path p on p.id = c.id and p.type = 2
        left join sys_path up on up.id = u.id and up.type = 1
        <include refid="where">
            <property name="alias" value="s."/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                <choose>
                    <when test="key.indexOf('.') >= 0">${key} ${value}</when>
                    <otherwise>s.${key} ${value}</otherwise>
                </choose>
            </foreach>
        </if>
        <if test="limit != null and offset != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <select id="count" resultType="Integer">
        select count(*)
        from column_star s
        inner join column_info c on c.id = s.column_id
        <include refid="where">
            <property name="alias" value="s."/>
        </include>
    </select>
</mapper>