<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.question.QuestionTagDao">
    <insert id="add">
        insert into question_tag values(#{questionId},#{tagId})
    </insert>
    <insert id="addAll">
        insert into question_tag values
        <foreach collection="tagIds" item="tag" separator=",">
            (#{questionId},#{tag})
        </foreach>
    </insert>
    <delete id="clear">
        delete from question_tag where question_id=#{questionId}
    </delete>
    <delete id="remove">
        delete from question_tag where question_id=#{questionId} and tag_id=#{tagId}
    </delete>
    <select id="searchTags" resultType="QuestionTagModel">
        select question_id,tag_id from question_tag  where question_id in
        <foreach collection="questionIds" item="questionId" separator="," open="(" close=")" >
            #{questionId}
        </foreach>
    </select>
    <select id="searchTagId" resultType="Long">
        select tag_id from question_tag where question_id=#{questionId}
    </select>
    <select id="searchQuestionId" resultType="Long">
        select question_id from question_tag where tag_id in
        <foreach collection="tagIds" item="tag" separator="," open="(" close=")" >
            #{tag}
        </foreach>
    </select>
</mapper>