<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.question.QuestionInfoDao">
    <sql id="columns">
        ${alias}id ${prefix}id,
        ${alias}title ${prefix}title,
        ${alias}description ${prefix}description,
        ${alias}reward_type ${prefix}reward_type,
        ${alias}reward_value ${prefix}reward_value,
        ${alias}reward_add ${prefix}reward_add,
        ${alias}version ${prefix}version,
        ${alias}is_published ${prefix}is_published,
        ${alias}is_adopted ${prefix}is_adopted,
        ${alias}is_disabled ${prefix}is_disabled,
        ${alias}is_deleted ${prefix}is_deleted,
        ${alias}draft ${prefix}draft,
        ${alias}cover ${prefix}cover,
        ${alias}adoption_id ${prefix}adoption_id,
        ${alias}answers ${prefix}answers,
        ${alias}comments ${prefix}comments,
        ${alias}view ${prefix}view,
        ${alias}support ${prefix}support,
        ${alias}oppose ${prefix}oppose,
        ${alias}star_count ${prefix}star_count,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_user_id ${prefix}created_user_id,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}updated_time ${prefix}updated_time,
        ${alias}updated_user_id ${prefix}updated_user_id,
        ${alias}updated_ip ${prefix}updated_ip
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into question_info(title,description,reward_type,reward_value,reward_add,version,is_published,is_adopted,is_disabled,is_deleted,draft,cover,adoption_id,answers,comments,view,support,oppose,star_count,created_time,created_user_id,created_ip,updated_time,updated_user_id,updated_ip) values
        (#{title},#{description},#{rewardType},#{rewardValue},#{rewardAdd},#{version},#{isPublished},#{isAdopted},#{isDisabled},#{isDeleted},#{draft},#{cover},#{adoptionId},#{answers},#{comments},#{view},#{support},#{oppose},#{starCount},
        #{createdTime},#{createdUserId},#{createdIp},#{updatedTime},#{updatedUserId},#{updatedIp})
    </insert>
    <sql id="searchWhere">
        <where>
            <if test="isDisabled != null">
                and ${alias}is_disabled = #{isDisabled}
            </if>
            <if test="isPublished != null">
                and ${alias}is_published = #{isPublished}
            </if>
            <if test="isAdopted != null">
                and ${alias}is_adopted = #{isAdopted}
            </if>
            <if test="isDeleted != null">
                and ${alias}is_deleted = #{isDeleted}
            </if>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${alias}created_ip = #{ip}
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
            <if test="rewardType != null">
                and ${alias}reward_type = #{rewardType}
            </if>
            <if test="minRewardValue != null">
                and ${alias}reward_value <![CDATA[>=]]> #{minRewardValue}
            </if>
            <if test="maxRewardValue != null">
                and ${alias}reward_value <![CDATA[<=]]> #{maxRewardValue}
            </if>
            <if test="ids != null &amp;&amp; ids.size() > 0">
                and
                ${alias}id <foreach collection="ids" item="id" open=" in (" separator="," close=")">
                #{id}
                </foreach>
            </if>
            <if test="minAnswers != null">
                and ${alias}answers >= #{minAnswers}
            </if>
            <if test="maxAnswers != null">
                and ${alias}answers &lt;= #{maxAnswers}
            </if>
            <if test="minComments != null">
                and ${alias}comments >= #{minComments}
            </if>
            <if test="maxComments != null">
                and ${alias}comments &lt;= #{maxComments}
            </if>
            <if test="minView != null">
                and ${alias}view >= #{minView}
            </if>
            <if test="maxView != null">
                and ${alias}view &lt;= #{maxView}
            </if>
            <if test="minSupport != null">
                and ${alias}support >= #{minSupport}
            </if>
            <if test="maxSupport != null">
                and ${alias}support &lt;= #{maxSupport}
            </if>
            <if test="minOppose != null">
                and ${alias}oppose >= #{minOppose}
            </if>
            <if test="maxOppose != null">
                and ${alias}oppose &lt;= #{maxOppose}
            </if>
            <if test="minStar != null">
                and ${alias}star_count >= #{minStar}
            </if>
            <if test="maxStar != null">
                and ${alias}star_count &lt;= #{maxStar}
            </if>
            <if test="mode != 'draft'">
                and ${alias}version > 0
            </if>
        </where>
    </sql>
    <select id="search" resultType="QuestionInfoModel">
        select <include refid="columns"><property name="alias" value=""/><property name="prefix" value=""/></include>
        from question_info q
        <include refid="searchWhere">
            <property name="alias" value="q."/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                <choose>
                    <when test="key.indexOf('.') >= 0">${key} ${value}</when>
                    <otherwise>q.${key} ${value}</otherwise>
                </choose>
            </foreach>
        </if>
        <if test="limit != null and offset != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <select id="count" resultType="Integer">
        select count(q.id) from question_info q
        <include refid="searchWhere">
            <property name="alias" value="q."/>
        </include>
    </select>
    <select id="findById" resultType="QuestionInfoModel">
        select <include refid="columns"><property name="alias" value=""/><property name="prefix" value=""/></include> from question_info where id=#{id}
    </select>
    <update id="updateAdopt">
        update question_info set is_adopted=#{isAdopted},adoption_id=#{adoptionId} where id =#{id}
    </update>
    <update id="updateVersion">
        update question_info
        <set>
            <if test="draft != null">
                draft=#{draft},
            </if>
            <if test="version != null">
                version=#{version},
            </if>
            <if test="isPublished != null">
                is_published=#{isPublished},
            </if>
            updated_time=#{time},
            updated_ip=#{ip},
            updated_user_id=#{userId}
        </set>
        where id = #{id}
    </update>
    <update id="updateView">
        update question_info set view=view+#{view} where id=#{id}
    </update>
    <update id="updateAnswers">
        update question_info set answers=answers+#{value} where id=#{id}
    </update>
    <update id="updateComments">
        update question_info set comments=comments+#{value} where id=#{id}
    </update>
    <update id="updateStarCountById">
        update question_info set star_count=star_count+#{step} where id=#{id}
    </update>
    <update id="updateDeleted">
        update question_info set is_deleted=#{deleted} where id=#{id}
    </update>
    <update id="updateMetas">
        update question_info
        <set>
            <if test="cover != null">
                cover = #{cover},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="updateInfo">
        update question_info <set>
        <if test="title != null">title=#{title},</if>
        <if test="description != null">description=#{description},</if>
        <if test="rewardType != null">reward_type=#{rewardType},</if>
        <if test="rewardValue != null">reward_value=#{rewardValue},</if>
        <if test="rewardAdd != null">reward_add=#{rewardAdd},</if>
        updated_time=#{time},
        updated_ip=#{ip},
        updated_user_id=#{userId}
    </set>
        where id=#{id}
    </update>
</mapper>