<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.reward.RewardConfigDao">
    <sql id="columns">
        ${alias}id ${prefix}id,
        ${alias}type ${prefix}type,
        ${alias}min ${prefix}min,
        ${alias}max ${prefix}max,
        ${alias}unit ${prefix}unit
    </sql>
    <select id="findById" resultType="RewardConfigModel">
        select 
        <include refid="columns"><property name="alias" value=""/><property name="prefix" value=""/></include>
        from reward_config where id=#{id}
    </select>
</mapper>