<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.software.SoftwareGrabDao">
    <sql id="columns">
        ${alias}id ${prefix}id,
        ${alias}`data` ${prefix}`data`
    </sql>
    <select id="findById" resultType="SoftwareGrabModel">
        select * from software_grab where id = #{id}
    </select>
    <update id="update">
        update software_grab set `data`=#{data} where id=#{id}
    </update>
</mapper>