<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.software.SoftwareAttributesDao">
    <sql id="columns">
        ${alias}id ${prefix}id,
        ${alias}software_id ${prefix}software_id,
        ${alias}`name` ${prefix}`name`,
        ${alias}`value` ${prefix}`value`,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}created_user_id ${prefix}created_user_id,
        ${alias}updated_time ${prefix}updated_time,
        ${alias}updated_ip ${prefix}updated_ip,
        ${alias}updated_user_id ${prefix}updated_user_id
    </sql>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into software_attributes(software_id,`name`,`value`,created_time,created_ip,created_user_id,updated_time,updated_ip,updated_user_id) values(#{softwareId},#{name},#{value},#{createdTime},#{createdIp},#{createdUserId},#{updatedTime},#{updatedIp},#{updatedUserId})
    </insert>
    <insert id="addAll">
        insert into software_attributes(software_id,`name`,`value`,created_time,created_ip,created_user_id,updated_time,updated_ip,updated_user_id) values
        <foreach collection="collection" item="attributes" separator=",">
            (#{attributes.softwareId},#{attributes.name},#{attributes.value},
            #{attributes.createdTime},#{attributes.createdIp},#{attributes.createdUserId},#{attributes.updatedTime},#{attributes.updatedIp},#{attributes.updatedUserId})
        </foreach>
    </insert>
    <delete id="clear">
        delete from software_attributes where software_id=#{softwareId}
    </delete>
    <delete id="remove">
        delete from software_attributes where id=#{id}
    </delete>
    <select id="search" resultType="SoftwareAttributesModel">
        select * from software_attributes  where software_id in
        <foreach collection="collection" item="softwareId" separator="," open="(" close=")" >
            #{softwareId}
        </foreach>
    </select>
</mapper>