<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.article.ArticleTagDao">
    <insert id="add">
        insert into article_tag values(#{articleId},#{tagId})
    </insert>
    <insert id="addAll">
        insert into article_tag values
        <foreach collection="tagIds" item="tag" separator=",">
            (#{articleId},#{tag})
        </foreach>
    </insert>
    <delete id="clear">
        delete from article_tag where article_id=#{articleId}
    </delete>
    <delete id="remove">
        delete from article_tag where article_id=#{articleId} and tag_id=#{tagId}
    </delete>
    <select id="searchTags" resultType="ArticleTagModel">
        select article_id,tag_id from article_tag  where article_id in
        <foreach collection="articleIds" item="articleId" separator="," open="(" close=")" >
            #{articleId}
        </foreach>
    </select>
    <select id="searchTagId" resultType="Long">
        select tag_id from article_tag where article_id=#{articleId}
    </select>
    <select id="searchArticleId" resultType="Long">
        select article_id from article_tag where tag_id in
        <foreach collection="tagIds" item="tag" separator="," open="(" close=")" >
            #{tag}
        </foreach>
    </select>
</mapper>