<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itellyou.dao.article.ArticleInfoDao">
    <sql id="columns">
        ${alias}id ${prefix}id,
        ${alias}column_id ${prefix}column_id,
        ${alias}source_type ${prefix}source_type,
        ${alias}source_data ${prefix}source_data,
        ${alias}title ${prefix}title,
        ${alias}description ${prefix}description,
        ${alias}version ${prefix}version,
        ${alias}is_published ${prefix}is_published,
        ${alias}is_disabled ${prefix}is_disabled,
        ${alias}is_deleted ${prefix}is_deleted,
        ${alias}custom_description ${prefix}custom_description,
        ${alias}cover ${prefix}cover,
        ${alias}draft ${prefix}draft,
        ${alias}comment_count ${prefix}comment_count,
        ${alias}view_count ${prefix}view_count,
        ${alias}support_count ${prefix}support_count,
        ${alias}oppose_count ${prefix}oppose_count,
        ${alias}star_count ${prefix}star_count,
        ${alias}created_time ${prefix}created_time,
        ${alias}created_user_id ${prefix}created_user_id,
        ${alias}created_ip ${prefix}created_ip,
        ${alias}updated_time ${prefix}updated_time,
        ${alias}updated_user_id ${prefix}updated_user_id,
        ${alias}updated_ip ${prefix}updated_ip
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into article_info(column_id,source_type,source_data,title,description,version,is_published,is_disabled,is_deleted,custom_description,cover,draft,comment_count,view_count,support_count,oppose_count,star_count,created_time,created_user_id,created_ip,updated_time,updated_user_id,updated_ip) values
        (#{columnId},#{sourceType},#{sourceData},#{title},#{description},#{version},#{isPublished},#{isDisabled},#{isDeleted},#{customDescription},#{cover},#{draft},#{commentCount},#{viewCount},#{supportCount},#{opposeCount},#{starCount},
        #{createdTime},#{createdUserId},#{createdIp},#{updatedTime},#{updatedUserId},#{updatedIp})
    </insert>
    <insert id="addStep">
        insert into article_info(id,`view_count`,comment_count,support_count,oppose_count,star_count)
        values
        <foreach collection="models" index="key" item="item" open="" separator=",">
            (#{item.id},#{item.viewStep},#{item.commentStep},#{item.supportStep},#{item.opposeStep},#{item.starStep})
        </foreach>
        on duplicate key update `view_count`=`view_count` + values(`view_count`),
             comment_count=comment_count + values(comment_count),
             support_count=support_count + values(support_count),
             oppose_count=oppose_count + values(oppose_count),
             star_count=star_count + values(star_count)
    </insert>
    <resultMap id="searchMap" type="ArticleInfoModel" autoMapping="true">
        <id property="id" column="id" />
    </resultMap>
    <sql id="searchWhere">
        <where>
            <if test="isDisabled != null">
                and ${alias}is_disabled = #{isDisabled}
            </if>
            <if test="isPublished != null">
                and ${alias}is_published = #{isPublished}
            </if>
            <if test="isDeleted != null">
                and ${alias}is_deleted = #{isDeleted}
            </if>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="ip != null">
                and ${alias}created_ip = #{ip}
            </if>
            <if test="userId != null">
                and ${alias}created_user_id = #{userId}
            </if>
            <if test="ids != null &amp;&amp; ids.size() > 0">
                and
                ${alias}id <foreach collection="ids" item="id" open=" in (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="columnId != null">
                and ${alias}column_id=#{columnId}
            </if>
            <if test="sourceType != null">
                and ${alias}source_type=#{sourceType}
            </if>
            <if test="minComment != null">
                and ${alias}comment_count >= #{minComment}
            </if>
            <if test="maxComment != null">
                and ${alias}comment_count &lt;= #{maxComment}
            </if>
            <if test="minView != null">
                and ${alias}view_count >= #{minView}
            </if>
            <if test="maxView != null">
                and ${alias}view_count &lt;= #{maxView}
            </if>
            <if test="minSupport != null">
                and ${alias}support_count >= #{minSupport}
            </if>
            <if test="maxSupport != null">
                and ${alias}support_count &lt;= #{maxSupport}
            </if>
            <if test="minOppose != null">
                and ${alias}oppose_count >= #{minOppose}
            </if>
            <if test="maxOppose != null">
                and ${alias}oppose_count &lt;= #{maxOppose}
            </if>
            <if test="minStar != null">
                and ${alias}star_count >= #{minStar}
            </if>
            <if test="maxStar != null">
                and ${alias}star_count &lt;= #{maxStar}
            </if>
            <if test="mode != 'draft'">
                and ${alias}version > 0
            </if>
        </where>
    </sql>
    <select id="search" resultMap="searchMap">
        select <include refid="columns"><property name="alias" value=""/><property name="prefix" value=""/></include>

        from article_info q

        <include refid="searchWhere">
            <property name="alias" value="q."/>
        </include>
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open="order by " separator=",">
                <choose>
                    <when test="key.indexOf('.') >= 0">${key} ${value}</when>
                    <otherwise>q.${key} ${value}</otherwise>
                </choose>
            </foreach>
        </if>
        <if test="limit != null and offset != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <select id="count" resultType="Integer">
        select count(q.id) from article_info q
        <include refid="searchWhere">
            <property name="alias" value="q."/>
        </include>
    </select>
    <select id="findById" resultType="ArticleInfoModel">
        select <include refid="columns"><property name="alias" value=""/><property name="prefix" value=""/></include> from article_info where id=#{id}
    </select>
    <sql id="totalWhere">
        <where>
            <if test="beginTime != null">
                and ${alias}created_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ${alias}created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="isDisabled != null">
                and ${alias}is_disabled = #{isDisabled}
            </if>
            <if test="isPublished != null">
                and ${alias}is_published = #{isPublished}
            </if>
            <if test="isDeleted != null">
                and ${alias}is_deleted = #{isDeleted}
            </if>
            <if test="userIds != null">
                and ${alias}created_user_id <foreach collection="userIds" item="id" open=" in (" separator="," close=")">
                #{id}
            </foreach>
            </if>
        </where>
    </sql>
    <select id="totalByUser" resultType="ArticleTotalModel">
        select created_user_id user_id,count(id) total_count,sum(view_count) view_count,sum(support_count) support_count,sum(oppose_count) oppose_count,sum(star_count) star_count,sum(comment_count) comment_count
        from article_info
        <include refid="totalWhere">
            <property name="alias" value=""/>
        </include>
        group by created_user_id
        <if test="order != null">
            <foreach collection="order" index="key" item="value" open=" order by " separator=",">
                ${key} ${value}
            </foreach>
        </if>
        <if test="limit != null and offset != null">
            limit #{offset},#{limit}
        </if>
    </select>
    <update id="updateVersion">
        update article_info
        <set>
            <if test="draft != null">
                draft=#{draft},
            </if>
            <if test="version != null">
                version=#{version},
            </if>
            <if test="isPublished != null">
                is_published=#{isPublished},
            </if>
            updated_time=#{time},
            updated_ip=#{ip},
            updated_user_id=#{userId}
        </set>
        where id = #{id}
    </update>
    <update id="updateView">
        update article_info set view_count=view_count+#{viewCount} where id=#{id}
    </update>
    <update id="updateComments">
        update article_info set comment_count=comment_count+#{value} where id=#{id}
    </update>
    <update id="updateStars">
        update article_info set star_count=star_count+#{value} where id=#{id}
    </update>
    <update id="updateVote">
        update article_info
        <set>
            <if test="type.getValue() == @com.itellyou.model.sys.VoteType@OPPOSE.getValue">
                oppose_count=oppose_count+#{value},
            </if>
            <if test="type.getValue() == @com.itellyou.model.sys.VoteType@SUPPORT.getValue">
                support_count=support_count+#{value},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="updateMetas">
        update article_info
        <set>
            <if test="customDescription != null">
                custom_description = #{customDescription},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="updateDeleted">
        update article_info set is_deleted=#{deleted} where id=#{id}
    </update>
    <update id="updateInfo">
        update article_info <set>
            <if test="title != null">title=#{title},</if>
            <if test="description != null">description=#{description},</if>
            <if test="columnId != null">column_id=#{columnId},</if>
            <if test="sourceType != null">source_type=#{sourceType},</if>
            <if test="sourceData != null">source_data=#{sourceData},</if>
            updated_time=#{time},
            updated_ip=#{ip},
            updated_user_id=#{userId}
        </set>
            where id=#{id}
    </update>
</mapper>